.bgModal {

position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.500);

}

.modal {

width: 80%;
min-height: 500px;
border-radius: 10px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
padding: 20px;
display: flex;
flex-direction: column;
gap: 20px;
    
}