
.container {

height: 100vh;
display: flex;

}

.containerLogo {

background-color: #F2F2F2;
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 30px;

img {

width: 200px;
transition: transform 0.2s ease;
background-color: transparent;

}

img:hover {

transform: scale(1.2);

}
    
}

.containerComponents {

display: flex;
width: 50%;
justify-content: center;
align-items: center;

& .boxComponents {

background-color: #F2F2F2;
padding: 50px;
padding-top: 60px;
border-radius: 10px;
width: 500px;
display: flex;
flex-direction: column;
gap: 16px;
box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);

& .forgetPasswd {

color: var(--color-primary);
text-decoration: underline;
cursor: pointer;
font-size: 12px;
text-align: center;
padding-top: 10px;
    
}

& .registerAcc {

text-align: center;
font-size: 12px;

& a {

color: var(--color-primary);
text-decoration: underline;
cursor: pointer;

}

}

}

}