.container-not-found {

width: 100%;
height: 100vh;

& div {

height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;

& img {

width: 380px;

}

}

}